@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      font-family: 'Mono',Cambria;
    }
  }

/* loading Spiner */
.spinner {
  @apply border-t-4 border-blue-500 rounded-full w-8 h-8 animate-spin;
}



/* Shimmer Effect Styling */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background: linear-gradient(90deg, #e4dddd 25%, #cec8c8 50%, #c9c0c0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.animate-pulse {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}